# SPDX-FileCopyrightText: 2026 Stefan Götz <github.nooneelse@spamgourmet.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

__pycache__
.coverage
.git
.vscode
*.env.*
*.env
dist
package-lock.json
build
initbot.egg-info
TODO
.mutmut-cache
mutants/
