# SPDX-FileCopyrightText: 2026 Stefan Götz <github.nooneelse@spamgourmet.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

{$WEB_HOSTNAME} {
	@app path /{$web_url_path_prefix}/* /manifest.json /sw.js /icons/*
	handle @app {
		reverse_proxy web:8080 {
			flush_interval -1
		}
	}
	handle {
		respond 404
	}
}
